/* App.css */

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-image: url('https://wallpapers.com/images/hd/pink-girly-alarm-clocks-5w10e81nt4ho8fkr.jpg');
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

/* Input and Buttons */
input {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
}

Button {
  background-color: #ff7dba !important;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-right: 8px;
  border-color:  #ff7dba !important;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s ease;
}

Button:hover {
  background-color: #ff0077 !important;
}

/* Todo Items */
h2 {
  margin: 0;
}

.todo-item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item:last-child {
  border-bottom: none;
}

/* Modal Styles */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
